template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav.green: .nav-wrapper
		ul.left
			li: a Beranda
			li: a Panduan
		a.brand-logo.center SIPD
		ul.right
			li: a Login
			li: a Register
	ul.fixed.side-nav
		li.grey.lighten-2: a Pilihan Urusan
		each val in menus
			li: a(href='/titik/{{val}}')= startCase(val)

template(name='home')
	h5 Beranda

template(name='titik')
	#peta
	br
	.container
		.right.btn#add Tambah
		unless showForm
			br
			table
				thead
					tr
						each val in heads
							th= startCase(val)
						th Hapus
				tbody
					each i in rows
						tr
							each j in heads
								td {{prop i j}}
							td: a#remove(data=i._id) Hapus
		if showForm
			br
			br
			+quickForm(
				collection = coll.titik
				schema = schema
				type = formType
				id = 'formTitik'
				doc = doc
			)
